[2013-10-26 13:25] ckarande opened #1 "Project setup"
Identify templating engine, database, and npm modules to use, and establish initial project directory structure

[2013-10-26 13:58] ckarande opened #2 "Taget web application design"
Identify business domain and UI design of target application.

[2013-10-26 13:59] ckarande opened #3 "Taget web application design"
Identify business domain and design of target application.

[2013-10-26 14:03] ckarande opened #4 "Target web application development"
Build skeleton of the web app

[2013-10-26 14:05] ckarande opened #5 "Tutorial web application design"
Identify navigation, content organization of tutorial web application

[2013-10-26 14:06] ckarande opened #6 "Tutorial web application development"
Create skeleton tutorial web application

[2013-10-26 14:10] ckarande opened #7 "A1 Injection (Regular Expression Denial of Service)"
Demonstrate ReDoS using:
1. Person name check on profile page (use regex ^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]_)_$ to check first name last name on profile form submission)
2. On signup page, add a validation to check if the username is part of the password. Construct Regex using user supplied input for username.

More details at https://groups.google.com/forum/#!topic/nodegoat/nkwQP1ONU-E

[2013-10-26 14:11] ckarande opened #8 "A2 Broken Authentication and Session Management"

[2013-10-26 14:11] ckarande opened #9 "A3 Cross-Site Scripting (XSS)"

[2013-10-26 14:11] ckarande opened #10 "A4 Insecure Direct Object References"

[2013-10-26 14:11] ckarande opened #11 "A5 Security Misconfiguration"

[2013-10-26 14:12] ckarande opened #12 "A6 Sensitive Data Exposure"

[2013-10-26 14:16] ckarande opened #13 "A7 Missing Function Level Access Control"

[2013-10-26 14:16] ckarande opened #14 "A8 Cross-Site Request Forgery (CSRF)"
Demonstrate CSRF attack using nodegoat app

[2013-10-26 14:16] ckarande opened #15 "A9 Using Components with Known Vulnerabilities"

[2013-10-26 14:17] ckarande opened #16 "A10 Unvalidated Redirects and Forwards"

[2013-10-26 14:18] ckarande opened #17 "Node.js Specific Extra Items"

[2013-10-26 14:28] ckarande opened #18 "Tutorial application dashboard"
visualization/ charts for each vulnerability based on OWAPS rating (2004, 2007,2010,2013), exploitability, and severity, impact level etc.

[2013-11-17 23:34] #1 closed, assigned to ckarande

[2013-11-17 23:34] #4 closed, assigned to ckarande

[2013-11-17 23:34] #5 closed, assigned to ckarande

[2013-11-17 23:34] #6 closed, assigned to ckarande

[2013-11-17 23:38] #3 closed, assigned to ckarande

[2013-11-18 00:25] ckarande opened #19 "Setup unit test runner"

[2013-11-18 00:31] ckarande opened #20 "Bootstrap tour setup"
Create infrastructure files to build in-app guided tour showing users where vulnerabilities existis

[2013-12-04 01:26] #19 closed, assigned to ckarande

[2013-12-04 01:26] #20 closed, assigned to ckarande

[2013-12-09 00:49] moll opened #23 "NPM Shrinkwrap?"
Hey,

Have you thought about just using `npm shrinkwrap` instead of committing all modules to version control?

[2013-12-11 03:05] ckarande opened #24 "Enhance Configuration Management"
Update code to use node-easy-config for configuration management.

[2013-12-11 03:08] ckarande opened #25 "Enhance logging support"
Use Bunyan module for logging instead of console.log

[2013-12-11 03:31] ckarande opened #26 "Clean up code to double quotes consistently."
Clean up code for style consistency. Add a note in the contribution guide for this.

[2013-12-11 03:41] ckarande opened #27 "Clean up code to camel case for variables"
- Clean up code to camel case for variables
- Add a note in contribution guide

[2013-12-15 21:08] #26 closed, assigned to ckarande

[2013-12-15 21:39] #27 closed, assigned to ckarande

[2013-12-27 22:37] #18 closed, assigned to nobody

[2013-12-31 11:32] ckarande opened #28 "A1 Injection (Command Injection)"
Use eval family function to demonstrate execution of system and file system access commands.

[2014-03-19 14:52] rndeon opened #29 "Callback object undefined"
Hi folks,
I've been trying to run your project to learn, but can't get it going properly.
The first thing I tried to do, which was to go through the sign-up process to add a user into the db, broke the whole thing. Perhaps I misunderstood, and that page is just there for show? Should I start trying to hack it as one of the pre-loaded users?

Anyway, on filling out the fields in "enter sign up info

[2014-03-20 22:35] #29 closed, assigned to nobody

[2014-03-21 01:30] #28 closed, assigned to nobody

[2014-03-21 01:41] #14 closed, assigned to nobody

[2014-04-15 17:27] sbehrens opened #33 "Server never starts"
Hello,

I have followed the setup guide and I cannot get the server to start.  The console output is below

[code]

Mondod is running, database is created, the environment file was also updated.  Any ideas on what may be going on?

[2014-05-03 03:02] #13 closed, assigned to nobody

[2014-05-06 14:59] #2 closed, assigned to nobody

[2014-05-06 14:59] #7 closed, assigned to nobody

[2014-05-06 14:59] #8 closed, assigned to nobody

[2014-05-06 14:59] #9 closed, assigned to nobody

[2014-05-06 14:59] #10 closed, assigned to nobody

[2014-05-06 14:59] #11 closed, assigned to nobody

[2014-05-06 14:59] #12 closed, assigned to nobody

[2014-05-06 14:59] #15 closed, assigned to nobody

[2014-05-06 14:59] #16 closed, assigned to ckarande

[2014-05-06 15:00] #25 closed, assigned to nobody

[2014-05-06 15:00] #24 closed, assigned to nobody

[2014-05-06 15:02] #23 closed, assigned to nobody

[2014-05-06 21:20] ckarande opened #34 "Add test suite and integrate to run on CI"

[2014-05-09 13:32] ckarande opened #35 "Separate tutorial from application codebase"
Use [github pages](https://pages.github.com/) or [gitbook](https://github.com/GitbookIO/gitbook) format for tutorial

[2014-05-09 13:35] ckarande opened #36 "Add in-app bootstrap tour to guide users finding vulnerabilities"
Add in app [bootstrap tour](http://bootstraptour.com/) to guide users finding vulnerabilities in the target applications

[2014-05-09 13:38] ckarande opened #37 "Add code review checklist"
As part of the project dcumentation, add a code review checklist for node.js developers

[2014-05-09 13:41] ckarande opened #38 "Implement reference secure versions of Node Goad app built using different frameworks"
Build reference secure versions using express, express + passport, MEAN SPA, hapi.js, koa, socket.io, etc

[2014-09-07 17:01] #33 closed, assigned to nobody

[2014-11-09 05:53] ckarande opened #42 "Upgrade Express version"

[2014-11-16 05:09] akhilpandey95 opened #43 "Support for Rethinkdb"
I think if we give the user a choice of selecting the database, that  would be far higher implementation of nodegoat as we get Json data if we are opting rethinkdb, over to mongodb(bson). Bulk insertions are an advantage but simplified querying would be a better option ? what is your opinion ?

[2014-11-25 21:21] #43 closed, assigned to nobody

[2015-01-13 21:11] jesusprubio opened #45 "Proposal: Node.js penetration test framework"
Just in case :)

https://gist.github.com/jesusprubio/8f092af4ca252e252eab

[2015-01-23 18:55] ckarande commented on #45
Following discussion on Gist now

[2015-01-23 18:55] #45 closed

[2015-01-23 19:01] #42 closed

[2015-05-17 13:56] DinisCruz opened #53 "Create Vagrant or Docker setup script"
Which will make the set-up and run of NodeGoat easier (For example when running it in a class environment)

[2015-05-17 13:59] DinisCruz opened #54 "Use Slack for NodeGoat related chats"
It looks like Slack is starting to have momentum on the OWASP dev community, so I propose that NodeGoat devs participate on it (instead or in addition to https://gitter.im/OWASP/NodeGoat )

I created a channel there for NodeGoat: https://owasp.slack.com/messages/project-nodegoat/

![image](https://cloud.githubusercontent.com/assets/656739/7670661/f86fd7ba-fca4-11e4-96ad-88a1c5c5136b.png)

[2015-05-18 22:55] ckarande commented on #53
That is a great idea. I see the value behind it. Do you have any recommendation on choosing between Vagrant or Docker for this project? Would you like to assist on it?

[2015-05-18 23:12] ckarande commented on #54
Awesome! Thanks for creating a channel for NodeGoat. I joined it and indeed looks a good momentum there with OWASP projects overall.

Ideally I would prefer to have a single channel for collaboration. However, initially, I will keep both Gitter and Slack knowing not all contributors are owasp members, and may not have, or willing to have a slack account.

[2015-05-18 23:19] #54 closed

[2015-05-19 10:53] jesusprubio commented on #54
I also prefer a single channel, BTW:
- What are the advantages of Slack? For now I can't register with my GitHub account (like in Gitter) and even I can't register myself :disappointed: . Is a must to be member of the OWASP project to access¿

[2015-05-19 10:56] jesusprubio commented on #53
:+1: to docker, I like the idea :smile: , the only steps to get it ready are:
[code]

[2015-05-19 11:02] jesusprubio commented on #35
Or even a "doc" folder using Markdown could be enough for now. I think from there we can achieve both these formats.

[2015-05-19 23:25] DinisCruz commented on #54
@jesusprubio what do you mean? did the https://owasp.herokuapp.com link not work for you?

Ping me at dinis.cruz@owasp.org if you have a prob

[2015-05-19 23:26] DinisCruz commented on #54
@ckarande what is your username in slack?

[2015-05-20 15:50] ckarande commented on #54
@DinisCruz my slack username is ckarande

[2015-05-20 22:54] ckarande commented on #54
@jesusprubio about advantages of Slack, at least from my point of view, besides routine collaboration, it provides easy access to security experts and other project team members. For example, we can toss a question in project specific or a general channel and get inputs. I only wish we could login using github account, which could have made it really seamless.

I don't think OWASP membership is mu

[2015-05-21 03:23] binarymist opened #55 "Setup Issues"
Following directions on the README.md...

node -v
v0.10.38
npm -v
2.9.0

From within NodeGoat dir I receive errors:

npm install

NodeGoat/node_modules/mongodb/node_modules/mongodb-core/node_modules/kerberos

make: Entering directory `NodeGoat/node_modules/mongodb/node_modules/mongodb-core/node_modules/kerberos/build'
  CXX(target) Release/obj.target/kerberos/lib/kerberos.o
make: Leaving directory

[2015-05-21 15:56] jesusprubio commented on #55
Hi, update your Node version to 12.x and it should work. I'm using v0.12.2.

[2015-05-21 17:44] ckarande commented on #55
@binarymist The errors on `npm install` appear to be just warnings.

When you ran `grunt db-reset:development`, did you have a local DB mongod running or have a remote DB path set in `config/env/development.js`? It is required for `db-reset` to run properly.
I have updated README.md with "Create and populate Mongo DB" section to make it more clear.

I don't think your node and npm needs to be upgr

[2015-06-17 20:38] jesusprubio commented on #54
I'm in Slack now because there's no activity in the Gitter channel. I think we can close this issue and use Slack if all of you agree.

[2015-06-22 14:57] jesusprubio commented on #55
ping @binarymist? :)

[2015-06-22 15:28] ckarande commented on #54
@jesusprubio, it is great that you are all set to access slack. I would prefer to keep both channels on for now.

[2015-06-23 01:05] binarymist commented on #55
There was a lot of setup work for this to work. I may come back to this, but it's a shame it doesn't work out of the box.

Cheers.

[2015-06-23 07:59] jesusprubio commented on #54
It's up to you :).

[2015-06-24 21:03] ainthek opened #56 "How to use this ?"
"an environment to learn how OWASP Top 10 security risks apply to web applications developed using Node.js and how to effectively address them"

sorry but after reading README, all I have achieved is some retire... app.

How shall I use NodeGoat to ""leaner how to how to effectively address OWASP TOP 10 in node.js "

I have not found info on OWASP page, nor in this readme.

HELP ! What can I lear

[2015-06-24 21:07] ainthek commented on #56
watching few videos, this is iust vulnerable Node.js web app ? is it this ? nothing more ?

[2015-06-24 21:10] ainthek commented on #56
WebGoat is a deliberately insecure web application maintained by OWASP designed to teach web application security lessons. this is text in https://www.owasp.org/index.php/Category:OWASP_WebGoat_Project

so why not using the same simple formulation on this project ?

[2015-06-25 17:15] ckarande commented on #56
@ainthek  Definitely nodegoat is not just a vulnerable app. We hope user of the project learns a) how vulnerabilities can manifest and exploited in node.js apps, and b) more importantly, how each of these vulnerabilities can be fixed.

Did you go through the tutorial? (the link to it is on the login page, just above the login box). In this tutorial each vulnerability is explained in detail in thes

[2015-06-25 17:28] ckarande commented on #55
@binarymist We can possibly create a VM that comes with everything packaged together. Besides that, based on your experience with other OWASP or external project of similar kind, can you share ideas on how we could minimize the setup part?

With respect to nodegoat, I am sure user would already have or won't mind installing node and required npm packages. Unfortunately, these type of apps need som

[2015-06-26 03:58] binarymist commented on #55
Yeah, I think the uptake may be slow without a turn-key solution (bit like owaspbwa). Most people just can't be bothered. I've spent the last couple of weeks in security research and using a bunch of pen test tools. Many of which require some setup and many of which don't even work. This is really frustrating, but sadly quite common. From experience Node projects seem to be even worse.

In saying

[2015-06-26 12:03] cktricky commented on #55
We use Docker and provide Vagrant (if thats your preferred method of managing docker instances) over at the Railsgoat project. Seems to work well and address the providing a VM issue.

[2015-06-27 14:46] ckarande commented on #55
@binarymist Yes, I agree that painful setup can be a major barrier for project uptake. Based on your feedback, I have added a One-Click heroku deploy option, which requires zero setup. Please go over updated README and let me know your thoughts.

The workshops you are doing are impressive, and valuable as targeted mainly for developers. Keep it up. Along the way if you feel NodeGoat could be lever

[2015-07-01 20:29] ckarande commented on #56
Added a section in README, explaining usage.

[2015-07-01 20:29] #56 closed

[2015-07-01 20:31] #55 closed

[2015-07-01 20:32] ckarande commented on #55
Closing the issue now. Please use slack or gitter chat if any comments / feedback

[2015-10-31 19:10] #53 closed

[2015-11-27 03:38] ckarande opened #60 "Integrate and test ZAP API"
Integrate and test ZAP API for all 3 deployment mechanisms.

Based on discussion with @binarymist, Zap API can live in a docker image.  Wavsep and Zap API can stay on one machine on AWS, each in their on docker containers. So it seems possible to integrate ZAP APIs with all of the three deployment scenarios of Nodegoat (local , heroku, and docker image).  This issue is added to test and verify it.

[2015-12-13 02:58] binarymist commented on #60
Cheers. It's now in my personal Todo list.

[2016-01-13 12:17] ckarande commented on #53
@DinisCruz Can you please review PR #62 and let us know if any suggestions. Thanks.

[2016-04-15 16:33] meeas opened #66 "Few missing steps in the manual install"
Install grunt with:
    npm install -g grunt
Install required packages on Ubuntu with:
    apt-get install nodejs npm mongodb
Fix Ubuntu's node name change
    sudo ln -s /usr/bin/nodejs /usr/bin/node

[2016-04-15 16:35] meeas commented on #66
Even after all of that, I got it started, but when I tried to register a new user, it crashed.  Any ideas:

# npm start

Connected to the database: mongodb://localhost:27017/nodegoat
Express http server listening on port 4000
welcome: Unable to identify user...redirecting to login

/var/www/html/node_modules/mongodb/lib/utils.js:98
    process.nextTick(function() { throw err; });

[2016-04-21 20:04] ckarande commented on #66
Before starting the server, did you populate DB with seed data by running this grunt task
`grunt db-reset:development`

[2016-05-11 10:26] mebjas opened #67 "List the todos publicly to finish them quickly"
We should have `OWASP/NodeGoat` on Todofy, I tried it on my fork and there are like `8 todos` in the `master branch`. While around `154 todos in secure_express branch` & `148 todos in ckarande-master branch`

Here's the link: https://todofy.org/r/mebjas/NodeGoat
This will give clear visibility on what all need to be finished, and platform has various feature to assist the process.

[code]

[2016-05-17 02:05] ckarande commented on #67
@mebjas Thanks for the suggestion. I like the todofy report. The challenge is some of these todos are intentened to act as a hint for users to secure the app. We should clarify which TODOs belong to hint category vs project specific

[2016-05-17 07:47] mebjas commented on #67
@ckarande There are a lot of options

- You can use labels, or put up a comment suggesting the same. For example check this todo: https://todofy.org/r/mebjas/NodeGoat/master/169300

- Also if there are certain todos related to library files, you can go to settings and choose to hide todos from any directory or a single file.

- You can also hide todos directly from the dashboard.

[2016-05-19 12:38] binarymist commented on #60
Any thoughts on what you would like to achieve with this @ckarande ?

[2016-05-29 02:05] binarymist commented on #60
I've worked through and now have several scenarios covered in my wiki. I started a branch (https://github.com/binarymist/NodeGoat/tree/ContainerisedZapNodeGoatAndDb) which containerises all components, but then thought that there is probably little point in this, as NodeGoat really exists for hands-on education and training and the best approach I think is to have Zap in a container or otherwise r

[2016-06-08 10:58] Ranybaug opened #69 "Issues while installing from Dockerfile"
Step 2 : RUN node artifacts/db-reset.js
 ---> Running in cf4359418eff
ERROR: connect
{"name":"MongoError","message":"connect ECONNREFUSED"}
Connected to the database: mongodb://localhost:27017/nodegoat
/usr/src/app/node_modules/mongodb/lib/server.js:231
        process.nextTick(function() { throw err; })
                                            ^
TypeError: Cannot read property 'dropCollection'

[2016-06-09 10:17] binarymist commented on #69
Hi @Ranybaug . That's an error. How did you arrive at this state and what were your exact steps to produce?

[2016-06-10 06:57] Ranybaug commented on #69
I ran docker-compose build and got that error shown below :

mongo uses an image, skipping
Building web
Step 1 : FROM node:0.12-onbuild
# Executing 3 build triggers...
Step 1 : COPY package.json /usr/src/app/
Step 1 : RUN npm install
 ---> Running in d21b334fae2f
npm WARN package.json owasp-nodejs-goat@1.3.0 No README data
npm WARN package.json owasp-nodejs-goat@1.3.0 license should be a valid SPD

[2016-06-10 08:09] binarymist commented on #69
What version of node are you running?

[2016-06-10 10:00] Ranybaug commented on #69
node --version
v5.0.0

[2016-06-11 04:54] binarymist commented on #69
I don't think we've tested beyond 4.4. I can try with v5, but can't say when I'll have time to do this, alternatively you could try on v4.4 with NVM if you haven't already? Are you running on a Linux distro?

[2016-06-18 14:24] tb01923 opened #71 "Not installing (node 6)"
This is not installing for me. chromedriver is having some sort of failure.  I have tried node 4,5,6 and posted the issue to their repository:

https://github.com/giggio/node-chromedriver/issues/46

[2016-06-20 15:38] bencarothers commented on #66
I'm having the same issue on a Debian 8 machine.`grunt db-reset:development` is failing to create a `counters` collection.

Manually inserting a `counters` collection allows you to insert new users.

[2016-06-20 21:04] bencarothers commented on #66
I edited db-reset.js to insert `counters` as follows:

`var counter = {_id:"userId", seq:3};
    countersCol = db.collection("counters").insertOne(counter, function(err, result) {
        parseResponse(err, result, "counter.insert");
    });
`

I don't understand the results at all.

Here's output from when this code does not insert `counters` properly:

And here's output from when it ran properly

[2016-06-20 23:38] SJCaldwell commented on #66
Note: @bencarothers  and I were working on getting the app to run together. We were running on a 32-bit debian jessie.

I tried to reproduce the issue on my Mac just now, running the same version of node and npm and could not - original script works with no changes. Seems to be architecture dependent.

[2016-06-21 20:50] ckarande commented on #66
@bencarothers @SJCaldwell Thanks for reporting the issue and helping in troubleshoot it. I will try it on a 32-bit debian jessie instance to know what is causing the counters not insert properly.

[2016-06-26 07:58] binarymist commented on #69
The latest Dockerfile doesn't use

This changed on https://github.com/OWASP/NodeGoat/commit/d1df52f66c5db7ecbd5cda9029d0b8c05dbf120b

I'd suggest making sure you're using the latest code. I'm also noticing your node_modules are all over the place. Some packages are older than what's specified in package.json and some newer. You will need to make sure that you have updated your packages with:
`npm

[2016-07-04 21:49] binarymist commented on #69
Did you manage to make any progress on this @Ranybaug. Will be closing if you don't reply.

[2016-07-11 20:17] ckarande commented on #69
Closing it due to lack of reply. @Ranybaug Please feel free to comment on it or create a new issue if the problem persists. Thanks @binarymist  for helping on it.

[2016-07-11 20:17] #69 closed

[2016-07-15 19:42] binarymist commented on #71
Did the suggested fix work at https://github.com/giggio/node-chromedriver/issues/46 @tb01923 ?

[2016-08-22 18:38] Pamplemousse opened #76 "Get the db-reset working with Docker"
Following discussions from #70, it seems that the `db-reset` process needs some update to work well (and elegantly) with all the installation options.

What do you think about:
  * using seeds?
  * using a `database.json` containing a initial version of the database?

[2016-08-23 07:22] juliadotter opened #77 "NodeGoat docker-compose build fails"
Hi

I get this error message when I follow the instructions of OPTION 3 - Run NodeGoat on Docker:

$sudo docker-compose build
...
npm info linkStuff owasp-nodejs-goat@1.3.0
npm info install owasp-nodejs-goat@1.3.0
npm info postinstall owasp-nodejs-goat@1.3.0
npm info prepublish owasp-nodejs-goat@1.3.0
npm ERR! Linux 4.4.0-31-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install

[2016-09-12 02:48] binarymist commented on #77
Hi @juliadotter

I was actually fixing this and about to submit the ticket and realised you had already done it. The below are my findings:

`grunt-if` and `grunt-npm-install` currently have `peerDependencies` and `dependencies` on old versions of grunt (~0.4.5 and ~0.4.1 respectively).
NodeGoat was updated recently to use grunt ^1.0.1.
`grunt-if` and `grunt-npm-instal`l still function with grunt

[2016-09-14 00:55] binarymist commented on #76
Can you explain what you mean by seeds and `database.json`? I'm not sure of how these could be applied on container creation rather than container start.

The only way I could see that this could be done is that the mongo Dockerfile would have to know all about the domain, obviously we would need a mongo dockerfile (not that that's an issue https://github.com/binarymist/NodeGoat/blob/DockerNonRoot

[2016-09-14 01:07] ckarande commented on #76
@Pamplemousse it would be helpful if you could elaborate more about database.json and seeds.
@binarymist, out of the two options you listed, I am more leaned towards 2nd, but I would like to understand option proposed by @Pamplemousse first.
Thank you both for your inputs.

[2016-09-14 01:10] binarymist commented on #76
The other option is... Don't do anything. How many people does this affect? It's also increasing the complexity and LoC, which is not something that should be taken lightly.

[2016-09-14 01:14] binarymist commented on #77
If they don't comply which is looking likely, then we have two obvious options:

1. Fork the grunt packages and publish upgraded versions to npm
2. Consider migrating away from gulp

Maybe others?

[2016-09-14 01:16] ckarande commented on #76
Good point. As of now, nodegoat doesn't demonstrate any issues that are dependent on mongodb. So we could provide an option to use in memory db (using https://github.com/typicode/json-server or similar) as part of the config . For docker deployment, users can choose this option to avoid all the hassle about mongo container without affecting the what NodeGoat has to offer.

[2016-09-14 01:54] binarymist commented on #76
This is a bit of a tangent though isn't it? in-memory would just replace what we have now with the same functionality. User looses data on container start. Doesn't actually solve the problem highlighted by @rrequero and @Pamplemousse , just makes things less complex from where they are currently, right?

[2016-09-15 01:39] ckarande commented on #76
I need to give some more thought as well, but I was imagining to insert the seed data (which is part of the the db-rest currently) into in-memory version of mongo db  (such as this https://www.npmjs.com/package/mongo-mock). So each time the container starts, the data is gets added to the in-memory db first. Most of the in-memory db for mongo are just npm modules, mainly designed to aid testing. It

[2016-09-15 03:25] binarymist commented on #76
The whole issue @Pamplemousse had was that the seed data should be inserted at container creation time, not run-time, so each time the container is started, the same data exists that existed when it was stopped. So, the container (Dockerfile) needs to handle this.

[2016-09-15 20:27] ckarande commented on #76
Ah..thank you for clarifying it. If that is the case, I agree we shouldn't do anything about this issue. As you mentioned, nodegoat is not a production level app. So I wouldn't worry about the minor overhead of inserting data at container run-time.  It is not a huge amount of data, so it is not worth engineering a solution for knowing the complexities involved.

Based on these inputs I am closing

[2016-09-15 20:27] #76 closed

[2016-09-15 20:33] ckarande commented on #76
close #70

[2016-09-15 20:57] binarymist commented on #71
Does this issue still need attention? Can we close it @tb01923 @ckarande ?

[2016-09-15 21:04] binarymist commented on #66
Is this one still waiting on you @ckarande ? Does something need to be tested here?

[2016-09-15 21:08] binarymist commented on #38
Can you provide some more specifics on this @ckarande ?

[2016-09-15 21:13] binarymist commented on #37
Any more ideas around this @ckarande ? There are a bunch of ideas in my book here: https://leanpub.com/holistic-infosec-for-web-developers/read#process-and-practises-agile-development-and-practices , not sure that's what you mean though. Perhaps the Web Applications chapter may be helpful: https://leanpub.com/holistic-infosec-for-web-developers-fascicle1-vps-network-cloud-webapplications/read#lean

[2016-09-15 21:15] binarymist commented on #36
Is this still relevant @ckarande ?

[2016-09-15 21:15] binarymist commented on #35
Is this done @ckarande ?

[2016-09-15 21:18] binarymist commented on #34
What are your thoughts around this @ckarande have non security focused unit tests running and passing or security focused tests (regression maybe?) running and continually failing... as the whole idea of the project is to be broken to start with and then the students fix the vulns?

[2016-09-15 21:20] binarymist commented on #17
Can you elaborate a bit on this @ckarande ? Do these still need to come under the OWASP Top 10? Can you think of any examples here?

[2016-09-18 02:26] binarymist commented on #77
We've got movement on grunt-npm-install (https://github.com/iclanzan/grunt-npm-install/pull/13#issuecomment-247814748)

[2016-09-18 12:42] Pamplemousse commented on #76
As you said, this is maybe a bit of an over-engineering problem considering the usage of the nodegoat project.

Maybe future selves will change our minds, so I will clarify what I meant ; for the record.

---

#### Seeding

Seeds are data stored in a readable format in files (e.g .yml) that are read by a tool to populate the database.

However, as @binarymist in his first answer:

Even if database

[2016-09-24 12:04] jesusprubio commented on #71
It worked for me with the last stable (v6.6.0) and the last LTS (v4.5.0). I think we can close this.

[2016-09-24 12:06] jesusprubio commented on #77
Recently I've changed all my project to use npm scripts directly. If I need something bigger I add a folder (ie: scripts) with the .js files implemented what I need.

What do you think? I could do it quickly. (/cc: @ckarande)

Ref: https://medium.freecodecamp.com/why-i-left-gulp-and-grunt-for-npm-scripts-3d6853dd22b8#.n8yb9qu9g

[2016-09-24 22:44] binarymist commented on #77
It's just `grunt-if` left.
What's more work out of:

1. Fork grunt-if, update the peerDependency, publish to NPM, update NodeGoat to use new grunt package and update the grunt version
2. Write a script to replace the work that grunt-if already does, include this new script, replace how we are using grunt-if / modify the grunt file.

Is writing our own logic a better option than consuming someone e

[2016-10-01 10:06] jesusprubio commented on #35
I think @ckarande has almost finished the migration to gitbook, any new about it?

[2016-10-01 12:13] jesusprubio commented on #77
I have started a little refactor to move to npm-scripts but I have a couple of doubts:
- Why are we using nodemon and grunt-watch? Both are used for the same thing. Moreover they're pointing to the same folders, so it's a bit strange for me.
- Why do we have a task to beautify .js stuff?

Thanks! :)

[2016-10-01 12:18] jesusprubio commented on #37
I've published this some time ago: https://github.com/Feeld/strong-node

We had zero feedback from the community, so I think it would be good to move it to here. Moreover I don't work in this company now, but we can fork it due to the license. And I'm sure they are not going to have any problem in removing it when the new one gains more traction.

If you agree, I can start with a PR and we all can

[2016-10-03 21:26] ckarande commented on #35
@jesusprubio, @binarymist sorry for the delay in response. I was half way through migration, and other priorities halted it. I would need to pick it up. Any contributions are welcome.

[2016-10-03 22:07] binarymist commented on #35
So does this mean the complete tutorials are being deprecated?

[2016-10-03 22:39] ckarande commented on #35
I wanted to keep the routes and templates for the doc separate it from the vulnerable app. The gitbook is the most promising option. Would you preserve to keep the existing doc links?

[2016-10-04 01:44] binarymist commented on #35
I don't think changing the links will affect me. It's just that the current tutorials look good and seem to be quite functional, so I was just wondering why we needed the change. I'm not really precious either way though. Separating out a little more seems good, but as long as it's still close to the code.

[2016-10-04 09:57] jesusprubio commented on #35
I also think it's a good option to separate the code from he tutorial. But it's not a big matter for me any of the two options. I like the tutorials, but I also like the gitbook that @ckarande showed me in the past. The content is the same.

But we need to take a decision to keep pushing :).

[2016-12-24 00:06] #36 closed

[2016-12-24 00:12] ckarande commented on #34
@binarymist Sorry for getting back to it after a long time. I didn't mean to ignore it at all.

On thinking more about it, I would prefer security focused functional tests instead of unit tests on a higher priority.  I like the idea that tests fail to begin with and students make them pass as they fix the vulnerabilities. To assist, we can add a branch with all tests passing for a reference.

[2016-12-24 00:35] binarymist commented on #34
This is insane, I was just thinking about this as I was lying in bed and wondering about this exact issue, had forgotten that I had submitted it. That's a 10:4, I'll work toward doing this as my [Fascicle 1](https://leanpub.com/holistic-infosec-for-web-developers-fascicle1-vps-network-cloud-webapplications) gets near to handing to the technical editor, still a few months off.

[2016-12-24 16:55] ckarande commented on #34
Thanks @binarymist . Assigning it to you.  Great to know progress on Fascicle 1 :)

[2017-01-10 19:10] #71 closed

[2017-01-25 10:09] snyk-community opened #82 "Low severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a low severity vulnerability:
  - [Regular Expression Denial of Service](https://snyk.io/vuln/npm:uglify-js:20151024?utm_source=gh_issue)
  - Affected package: uglify-js &lt;2.6.0

[Here is the test report for this repo. ](https://snyk.io/test/github/OWASP/NodeGoat?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you generate a pull r

[2017-01-25 10:52] binarymist commented on #82
Thanks Snyk. We could turn this into a feature. My guess is that if and when NodeGoat depends on some tooling for mitigating the issues around consuming free and open source, we'd probably go for something like NSP which is free and more mature than Snyk?

[2017-01-25 13:59] ckarande commented on #82
Thanks Snyk. We appreciate notifying us. @binarymist I like the idea of converting this vulnerability into a feature. However, it could be tricky as uglify-js is not directly used by the application code.

[2017-01-25 14:26] guypod commented on #82
@binarymist FWIW, Snyk is actually far more comprehensive and mature than NSP, both in DB coverage and in feature set, especially around GitHub integration. Entirely true NSP was around as a project sooner, but hasn't progressed much in a long while.

I'd encourage to try the two tools out before picking ;)

[2017-01-25 14:30] snyk-community commented on #82
@ckarande @binarymist that's a really good idea! It's possible require a bit of a research to see how easy it to exploit this vulnerability through swig.

[2017-02-04 22:38] lirantal commented on #82
Hey guys,

Just dropping by here as I accidentally saw this thread which is actually the exact topic for my PR with regards to the 'Insecure Components' section: https://github.com/OWASP/NodeGoat/pull/83

I understand Snyk's open issue here but since the point is that this is a vulnerable app in purpose there's little sense in trying to fix and make this repo secure.

Hopefully my #83 PR satisfies

[2017-02-13 01:39] binarymist commented on #77
Fixed in #86

[2017-02-13 01:39] #77 closed

[2017-02-13 02:06] binarymist commented on #82
Swig 1.4.2 is what we're using and is the latest but no longer maintained package, which depends on uglify-js 2.4.24. So in order to get out of this situation, an alternative to Swig is required.

swig is mentioned in a3.html, mentioned in package.json obviously, and is used in server.js. Someone needs to find a suitable alternative.

[2017-02-13 08:55] lirantal commented on #82
@binarymist I think the point of the issue that was opened here was to alert for possible insecure code with swig but that's kind of irrelevant because the whole project is supposed to be insecure as it is an educational resource. Do you think it's still required to move from swig to something else?

[2017-02-13 10:19] binarymist commented on #82
Yeah, in order for a project to be maintained, it needs to have up to date dependencies, otherwise maintainers will be forever struggling. I think it's intent is to be purposely vulnerable, but I think that means the vulnerabilities should be intentional and ideally documented, otherwise it ends up depending on old packages to never be updated. This would make for maintenance hell. Correct me if I

[2017-02-15 07:36] lirantal commented on #82
Yep, makes sense.

[2017-02-15 16:50] ckarande commented on #82
@binarymist , yes that makes sense. That's why I didn't close this issue.

We should keep the dependencies up to date as much as possible. At least there shouldn't be any dependencies that have known vulnerabilities unless we explicitly demonstrate those.

[2017-02-15 22:46] binarymist commented on #38
bump @ckarande

[2017-02-16 01:10] binarymist commented on #82
When Swig is replaced, we should probably implement a defense in depth solution using:

1. Validation
2. Filtering
3. Sanitisation

It would be good to see this across the entire app or as much of it as possible, just thinking of the #84 which does provide a commented solution in code, but it is pretty minimal, not that that's bad, but it may lead devs to think "Oh, that's all I need to do", and w

[2017-02-17 13:40] lirantal opened #88 "userId variable isnt set when viewing the memos page"
As Kim reported in https://github.com/OWASP/NodeGoat/pull/83#issuecomment-280211647 the allocations page doesn't load because because the template layout expects a `userId` variable to be set when rendering the view, so it can create the link to `/allocations/<userId>`.

This fixes it and refactor the memos controller accordingly.

[2017-02-17 21:40] lirantal opened #90 "Example / Implementation for noSQL Injection"
What do we think about providing an actual example for the classic noSQL injection with MongoDB, as is demonstrated and documented in the tutorial?

Screenshot from A1 - Injection tutorial:

So while the tutorials show this example, the NodeGoat app actually implements the user login differently with:
[code]

Do we possibly want to change the login to use the classic style as is documented or mayb

[2017-02-22 15:53] ckarande commented on #90
@lirantal Thanks for bringing this up..A working example of NoSQL injection with $gt or $ne would be a great addition. I would prefer to modify existing login functionality (instead of another login screen or API) to incorporate this vulnerability. Do you see any issues with that?

[2017-02-22 16:51] ckarande commented on #38
@binarymist This item on roadmap addresses the question - how the NodeGoat can offer more value as Node.js security learning resource. Here are some thoughts -

1. I would like to move the security fixes added in the code comments to separate branches. So we would have a branch for the insecure app, and multiple branches (one per OWASP Top 10 vulnerability) with fixes incorporated in it. In the tu

[2017-02-22 18:07] ckarande commented on #66
Looks like the script works. I am closing the issue. Please comment or reopen if any more details.

[2017-02-22 18:07] #66 closed

[2017-02-23 08:14] binarymist commented on #38
Yip, I think this is what we discussed in NY yes?

[2017-02-25 00:38] ckarande commented on #38
Yes, you are right.

[2017-02-25 05:21] binarymist commented on #38
"multiple branches (one per OWASP Top 10 vulnerability) with fixes incorporated in it" is a lot of branches to maintain on every change to master @ckarande

[2017-02-28 19:19] mkarvir opened #93 "Tutorial link in Readme is not working."
The link to Tutorial Guide (http://nodegoat.herokuapp.com/tutorial ) is not working. It would be great if this could be fixed. Thanks!

[2017-02-28 20:10] ckarande commented on #93
@mkarvir Thanks for informing. It appears that Heroku platform itself is down right now. I am unable to login I will keep watch on it and try to bring the NodeGoat instance back up as soon as Heroku API is available.

[2017-02-28 20:17] ckarande commented on #38
Good point about maintainability @binarymist . Yes, i see it can be a lot of overhead to apply changes to multiple branches. I like the idea of having one defective and another single secure app branch. Having functional tests could help ensuring the ongoing updates to both branches.

[2017-02-28 23:58] binarymist commented on #93
Trusty cloud platforms aye? My servers are still running fine.

[2017-03-01 03:24] ckarande commented on #93
Ha.. I recently started admiring  AWS availability SLAs and this happened.

Node goat is back up. I am closing the issue.

[2017-03-01 03:24] #93 closed

[2017-03-01 03:45] binarymist commented on #93
Yep, not everything that shines is golden. People are putting far to much trust in cloud providers. On-prem still has a lot of advantages, providing you have the specialties to admin it.

[2017-03-01 21:29] mkarvir commented on #93
Thanks! May be this caused it -https://techcrunch.com/2017/02/28/amazon-aws-s3-outage-is-breaking-things-for-a-lot-of-websites-and-apps/

[2017-03-07 18:49] #88 closed

[2017-03-10 22:14] lirantal commented on #90
@ckarande @binarymist  I don't see any technical issues with changing the current implementation to a naive one as I suggested above. The only down-side is that the current one is still susceptible to blind nosql injections if someone would want to demo that. And also it features other issues that are useful to demo and education about, for example the different user/pass error messages, and lastl

[2017-03-11 07:20] binarymist commented on #90
Would adding a feature somewhere else, that leverages/exhibits this defect be a better approach, rather than trying to overload (convolute) the login?

[2017-04-01 12:37] TomTasche opened #97 "signup fails for hosted nodegoat"
signup fails for the version of nodegoat hosted at http://nodegoat.herokuapp.com/

i have a feeling that this is intentional to save the database from being flooded with new users? if so, i think this should be documented in the README (or the hosted version itself?)

[2017-04-02 02:19] ckarande commented on #97
@TomTasche the signup is failing due to some issue and it is not intentional..It must be broken because of any recent code or database on an inconsistent state. Either way, it is an issue and I will look into it. Thanks for reporting it.

[2017-04-02 07:20] TomTasche commented on #97
thank you! fyi: when deploying it using the heroku deploy-button signup works just fine! if you send me the logs of the crash i can try to look into it

[2017-04-03 16:26] ckarande commented on #97
@TomTasche The issue was caused due to inconsistent state of data in the DB. On resetting it, I could create new users.

[2017-04-03 16:26] #97 closed

[2017-04-03 19:10] TomTasche commented on #97
thanks for taking your time to look into this!

[2017-04-14 18:19] AdrianCohea opened #98 "Duplicate information in tutorial section A2"
Hello,

I found in the tutorial section [A2 - 2 Password Guessing Attacks](https://nodegoat.herokuapp.com/tutorial/a2) contains information duplicated across a few subsections. The "How Do I Prevent It?" subsection contains the following sentences:

These are also in the "Additional Measures" subsection. I recommend removing the second bullet point. In my opinion, this information is important eno

[2017-04-14 20:53] #98 closed

[2017-04-14 20:54] ckarande commented on #98
@AdrianCohea Thanks for the suggestion.

[2017-05-05 13:15] ckarande opened #99 "Update the project for OWASP Top 10 for 2017 once it is released."

[2017-05-07 20:29] jboyer2012 commented on #99
I'm already looking a good bit into the OWASP Top 10 for 2017 for [my blog](https://greenmachinesec.wordpress.com/2017/05/03/breaking-down-the-owasp-top-10-2017-rc-part-1-numbers-one-through-five/). I' like to take this on and see what I can add. Would you prefer a separate branch for this work?

[2017-05-08 02:27] binarymist commented on #99
Yes please @jboyer2012 and please make sure to follow: https://github.com/OWASP/NodeGoat/#ways-to-contribute, and also run the security regression test before and after your work: https://github.com/OWASP/NodeGoat/wiki/NodeGoat-Security-Regression-tests-with-ZAP-API

[2017-07-18 13:32] getupandgo opened #100 "Unobvious NoSQL injection example"
For a moment only difference between normal view of allocations and exploited view is different numbers of stocks, funds and bonds in one result row. I think it would be more obvious if payload `1'; return 1 == '1` caused something like this:
![screenshot_20170718_162636](https://user-images.githubusercontent.com/6969727/28319196-e4c7b96a-6bd5-11e7-8790-68fa4a60fd7b.png)
I can create pr if you fin

[2017-07-18 22:30] ckarande commented on #100
@getupandgo Thanks for the idea. Yes, please create a PR.

[2017-08-23 16:47] #100 closed

[2017-09-24 15:54] jboyer2012 commented on #35
Haven't seen much movement here. Is there anything I can do to help? I am the strange kind of developer that loves to write documentation. I'd be glad to contribute to an upgrade.

[2017-09-26 01:47] jboyer2012 opened #105 "Guidance on A6 does not follow Node.js best practices for the Crypto module"
According to [Node's Crypto API docs](https://nodejs.org/api/crypto.html#crypto_crypto_createcipher_algorithm_password_options), the default initialization vector used by the createCipher function is not random enough to protect against brute-force attacks.
Here is the appropriate quote from the Crypto API docs:

Based on this, we should update the code samples and tutorial for A6 to include this

[2017-09-26 12:17] ckarande commented on #105
@jboyer2012 Thanks for proactively reaching out and providing the context for the PR. Really appreciate your contribution. I will review and merge the PR or get back to you if any questions 👍

[2017-09-28 01:01] ckarande commented on #35
@jboyer2012 thanks for offering to help on documentation. Due to ease on update and convenience to read while working on the app,   we are keeping the  in app documentation as is for now. I will close this issue, but reach out to you while doing  updates in future.

[2017-09-28 01:01] #35 closed

[2017-09-29 02:44] ckarande commented on #105
Merged the PR. Thanks.

[2017-09-29 02:44] #105 closed

[2017-11-11 14:50] lirantal opened #109 "Saying thanks!"
Hi Guys,

I wanted to chime in and say thanks and appreciate the work on this project which is a great asset for educating on security.

Me and a cool bunch of people from the JavaScript community of Cluj, Romania saying thanks ❤️

![img_20171110_110459 1](https://user-images.githubusercontent.com/316371/32690494-5f9d0656-c700-11e7-8896-93ed0682d5de.jpg)

[2017-11-13 01:12] ckarande commented on #109
That is awesome. Thank you Liran for spreading the knowledge and being a
key contributor to the project.

Best,

Chetan

On Nov 11, 2017 9:50 AM, "Liran Tal" <notifications@github.com> wrote:

Hi Guys,

I wanted to chime in and say thanks and appreciate the work on this project
which is a great asset for educating on security.

Me and a cool bunch of people from the JavaScript community of Cluj,
R

[2017-11-13 01:13] ckarande commented on #109
That is awesome. Thank you Liran for spreading the knowledge and being a
key contributor to the project.

Best,

Chetan

On Nov 11, 2017 9:50 AM, "Liran Tal" <notifications@github.com> wrote:

[2017-11-13 10:06] lirantal commented on #109
having fun doing it so the pleasure is mine :-)

[2017-11-19 18:03] #109 closed

[2017-11-26 20:15] rtzy95 opened #112 "MongoLab moved to mLab"
The MongoLab link on README should be updated to mLab since they've moved their site. :)

[2018-02-13 00:00] ckarande commented on #112
Updated. Thanks for pointing it out.

[2018-02-13 00:00] #112 closed

[2019-03-22 15:45] mostafahussein commented on #60
Is there anything that i can do to complete this ? let me know if you need any help

[2019-03-22 16:03] mostafahussein commented on #34
Is there anything that I can do to complete this ? Let me know if you need any help

[2019-03-22 20:17] binarymist commented on #34
Means it has to be kept up to date as changes are made to master, this would need to be well documented, it'd also mean more work for contributors and mergers. Thoughts: @ckarande @lirantal @mostafahussein ?

[2019-03-22 20:37] lirantal commented on #34
That's a great idea. Would love to see this, and as you said we should recognize the effort that this brings, especially with creating a baseline of tests for what we have so far.

[2019-03-22 20:49] binarymist commented on #34
I don't think we have any tests other than the security regression test, which I'll be removing at some point... As soon as [purpleteam](https://gitlab.com/purpleteam-labs) is in prime-time, as purpleteam is using NodeGoat currently as the main SUT.

[2019-03-22 21:56] mostafahussein commented on #34
We can break it down to phases or stages that needs to be done in the pipeline. So what about the following:
- TravisCI
- ESlint for checking code style (I know it is not a big deal at this point but we might use it at least to guarantee that any contributor follows the same code style  )
- for the security checks i notice that you already have snyk.io (this according to an issue that was opened b

[2019-03-22 23:49] binarymist commented on #34
Didn't you have something like this setup at some point @ckarande?

NodeGoat currently uses "jsbeautifier" and "jshint" via npm script `precommit`, and contributors are expected to follow the [guidelines documented](https://github.com/OWASP/NodeGoat#contributing). I personally have no issue swapping the grunt task with ESLint providing the same linting is happening, I think we need to consult @cka

[2019-03-23 00:10] mostafahussein commented on #34
Okay, but I need clarification regarding this point: `security focused functional tests`, what kind of security tests do we need ? as you said it should be insecure :cat:
Forget about `npm audit` this is similar to synk, i mean it will check if there is any vulnerable packages and so on (NSP replacement) and actually we don't need these kind of security checks in here :joy_cat:

Do you mean by `se

[2019-03-23 23:06] binarymist commented on #34
Should this issue still even be open @ckarande ?

[2019-03-24 19:19] ckarande commented on #34
@binarymist I would prefer to keep this issue open for any contributors to pick up or we implement it in future.

@mostafahussein thanks for your interest in it. About the `security focused tests`, the intention is  to create a set of self-guided exercises that users can follow to fix the vulnerabilities in the NodeGoat app and get a feedback as they work on it. Here are some options to implement

[2019-03-25 09:09] binarymist commented on #60
I think this can be closed.

I've finished the new [ZAP Node APII](https://github.com/zaproxy/zap-api-nodejs)

I have a [dynamic number](https://gitlab.com/purpleteam-labs/purpleteam-lambda/blob/master/app-slave-provisioner/index.js) of [app scanners](https://gitlab.com/purpleteam-labs/purpleteam-s2-containers/blob/master/app-slave/docker-compose.yml) running based on the [build user config](https

[2019-03-25 09:21] binarymist commented on #34
This sounds very much like security regression testing, which we had a [PoC](https://github.com/OWASP/NodeGoat/blob/master/test/security/profile-test.js) for (still do, but is very much redundant with purpleteam). It was my intention to rip that PoC out, once I have purpleteam running in the Cloud... which shouldn't be far away now.

purpleteam removes the need for any sort of test suite. The SaaS

[2019-03-28 01:38] ckarande commented on #34
Sounds good. Lets revisit this once you have the purpleteam running in the cloud. I would be very interested in seeing its demo with Nodegoat if possible.

[2019-03-28 01:39] ckarande commented on #60
Thanks @binarymist .. Closing this issue.

[2019-03-28 01:39] #60 closed

[2019-06-07 16:48] UlisesGascon opened #142 "Let's add e2e test!"
**Objective**: The goal of this issue is to implement e2e test harness for the NodeGoat, so that it would be easier for project contributors to validate PRs and ensure that no unexpected side effects / defects arise due to enhancements.

====
As agreed with @ckarande I will create a PR to add e2e test for NodeGoat using Cypress.

The idea is to cover most of the UI, so we can test all the features

[2019-06-08 02:27] ckarande commented on #142
@UlisesGascon  You have captured its scope precisely! Thank you for opening this issue and offering to assist on it.

[2019-06-08 11:24] UlisesGascon commented on #142
@ckarande  just a spoiler 📽
cc: @lirantal @jesusprubio

![ezgif-3-5fce08977a27](https://user-images.githubusercontent.com/5110813/59146597-96670100-89f0-11e9-99a7-1951cc47b78b.gif)

_This is just `/login` behaviour. I will clean the code and left an open PR for you to check while I keep working on it. The idea is to gather early feedback._

[2019-06-08 14:57] ckarande commented on #142
@UlisesGascon Looks great, You rock! Yes, I will follow the open PR. Great work.

[2019-06-09 17:52] lirantal commented on #142
Great stuff @UlisesGascon!

We should probably describe the purpose of the e2e tests here.
Are they going to test the vulnerabilities or test that the application as-is continues to function as expected to so when we refactor we can ensure that nothing was broken? Seems like the latter but just making sure, and we should update the PR/issue with that goal.

[2019-06-09 18:11] ckarande commented on #142
Yes @lirantal, the purpose of these tests is to ensure nothing is broken as we update the project further. @UlisesGascon has some great ideas and graciously offered to assist on working on some long due enhancements. This issue is just a prep work to get the necessary test harness so that it would be easier to validate PRs in future.

In future, we can extend the cypress test setup to provide a te

[2019-06-09 18:18] lirantal commented on #142
Sounds good 👍

[2019-06-10 06:25] UlisesGascon commented on #142
Yeah... I agree with @ckarande. The best way is to split the test in two different PRs. The current one for general application behaviour and a separate one for test vulnerabilities. 😄

[2019-06-10 07:32] UlisesGascon commented on #142
Good News! @koolTheba will help us with the e2e test too.

:tada: Welcome aboard @kooltheba

[2019-06-10 11:15] binarymist commented on #142
Just bear in mind that any security regression tests written will be redundant once [purpleteam](https://gitlab.com/purpleteam-labs) is running over this project. Purpleteam requires no tests to be written, the product is smart enough to know what and how to test without tests being written.

[2019-06-10 12:44] UlisesGascon commented on #142
@binarymist awesome!! Thanks for share it 👍

[2019-06-10 22:49] ckarande commented on #142
Welcome aboard @KoolTheba 👍 🎉

[2019-06-14 08:45] UlisesGascon commented on #142
PR Review needed: _See #143_

[2019-06-14 16:25] UlisesGascon opened #144 "Let's improve build steps and include Travis"
After the efforts to improve the e2e testing (#142 #143). The next step will be to improve the build steps.

**Ideas**
- [x] Include Travis, so we can run the e2e tests in all the PRs. _See: #147_
- [ ] Migration from Grunt to Npm Scripts
- [ ] Harmonize the JS Style with [Standard](https://standardjs.com/) and [Prettier](https://prettier.io)
- [ ] Let's add git hooks for linting and testing with

[2019-06-14 18:06] ckarande commented on #142
@UlisesGascon Awesome! Great work. Thank you.
I will go over the PR and get back to you if any feedback.

@binarymist @lirantal Great inputs from you so far and feel free to suggest if any thoughts on the PR!

[2019-06-14 18:16] ckarande commented on #144
Love it! It would be a very valuable addition. 👍
We should make a release with these features in and before starting on major refactoring at the code level. Thank you.

[2019-06-17 08:52] lirantal commented on #144
Sounds great! ✨

I'd advise that we do all of those in their own separate PRs (as smaller units of work as possible) so that we are able to move fast instead of having big-bang PRs that add risk and take a longer time to review.

[2019-06-17 09:03] lirantal commented on #142
I think would be great to land it with a travis.yml file to make sure we're testing it and it becomes a baseline and we can work out follow-up PRs to refactor for more code clarity etc.

[2019-06-17 09:04] lirantal commented on #142
And of course amazing stuff @UlisesGascon! 🌈✨

[2019-06-17 11:17] UlisesGascon commented on #144
Great advise @lirantal! I will generate separare PRs ;-)

[2019-06-21 09:55] UlisesGascon commented on #144
I started to work in the Grunt refactor. Most of the tasks are simple to relocate as npm scripts. But regarding regression and security tests. Right now we are [using ZAP](https://www.youtube.com/watch?v=IVLpmCtiPZ0&feature=youtu.be&t=2447), as @binarymist [suggested]( https://github.com/OWASP/NodeGoat/issues/142#issuecomment-500380900) maybe we can use [purpleteam](https://gitlab.com/purpleteam-l

[2019-06-21 20:19] ckarande commented on #144
I agree. 👍

[2019-06-22 23:44] lirantal commented on #144
Happy to see how this works out as well. Keep up the great work ✨

[2019-06-26 02:17] ckarande opened #145 "Unable to save changes to First Name field on the profile page"
The changes to first name field on the profile page do not get saved

[2019-06-26 14:26] lirantal commented on #145
@ckarande is it possible you missed filling the bank code number down in one of the fields?

[2019-06-27 01:57] ckarande commented on #145
@lirantal thanks for the hint. Yes it looks like the bank code is a required field and the form won't save unless it is specified.

On exploring it further, I realized that the changes to the firstname field actually do get saved on the server; however, it is not set correctly in the template in the response coming back to the  browser on update request. In the profile.html, the template is popula

[2019-06-28 08:19] lirantal commented on #145
Are you sure?
It looks to me like when you fail to add the bank routing number then nothing in the form gets saved. Not the firstname either.

However what I did notice is that when the error comes back to the client-side no data on the form is populated so it leaves it all blank.

[2019-06-28 22:29] #145 closed

[2019-08-02 18:49] UlisesGascon commented on #142
This is merged to master now ^^

[2019-08-02 18:49] #142 closed

[2019-08-04 12:28] UlisesGascon opened #148 "Roadmap for 2019"
Hi all!

In the last months we were focus on improve the codebase with tests, mostly e2e test and CI.

Now we are more confidents on the source code and it's easier to validate PRs and merge new contributions. I think is a good time to discuss about the roadmap for NodeGoat in the following months.

Right now we are close to publish release 1.4 that includes (e2e and ci). I just want to suggest so

[2019-08-04 12:29] UlisesGascon commented on #144
CLose as duplicated in #148

[2019-08-04 12:29] #144 closed

[2019-08-04 12:56] ckarande commented on #34
Addressed in #147

[2019-08-04 12:56] #34 closed

[2019-08-04 13:27] ckarande commented on #148
A very good compilation of next tasks and release roadmap. It looks good to me.

I just created release 1.4 and we are all set to start rolling out tasks you listed for Release 1.5. I agree that items for 1.5 are well defined and we can proceed with those. As we proceed, let's create issues for each item in the list and add it to corresponding [milestones](https://github.com/OWASP/NodeGoat/milesto

[2019-08-05 15:51] servatj opened #149 "Migration from Grunt to npm scripts"
After looking at the RoadMap 2019 provided by @UlisesGascon. I'm happy to start working on this. I will update this issue with the steps I will follow once I have a bit more context about the status of the project by running it in my local.

[2019-08-05 15:53] UlisesGascon opened #150 "Migration to node 12"
### Context
- This is part of `release-1.5` #148
- Critical task

### Tasks
- [x] Add support for Node 12
- [x] Add support for Node 10
- [x] Add support for Node 8
- [x] Update `travis.yaml` with the builds for those environments
- [x] Update the `readme.md` with the relevant info

### Assignation
- This tasks is open for assignation, just claim it (as reply to this) and submit your PR ;-)

### I

[2019-08-05 16:02] UlisesGascon commented on #149
Thanks @servatj for join us! 🤗

I will update your issue a little bit ;-)

This issue is assigned to you, please remember to refer to it when do you submit a PR, so we can connect the dots easily.

[2019-08-05 16:23] UlisesGascon opened #151 "We need a CONTRIBUTING Guide and CoC"
### Context
- This is part of `release-1.5` #148
- Critical task

### Tasks
- [ ] Define a good a contributing guide (requirements/discussion)
- [ ] Add the information to `CONTRIBUTING.md`
- [ ] Let's agree on a good Code of Conduct (CoC)
- [ ] Add the CoC to the `CONTRIBUTING.md`
- [ ] Update the `README.md` with the new CoC and Contributing guide

### Discussion

**CoC**
- I suggest to use the

[2019-08-05 16:25] UlisesGascon commented on #148
thanks a lot @ckarande !! 🤗

Can you add me extra rights for manage issue label creation and milestone assignation? maybe projects, too?  :-)

[2019-08-05 16:34] UlisesGascon opened #152 "Migration to es6+"
### Context
- This is part of `release-1.5` #148
- Depends on #150
- Critical task

### Tasks
- [ ] Clean Source code (JS Files)
- [ ] Migrate to ES6+ Syntaxis (Promises, Async, const/let, arrow...)
- [ ] Update the `readme.md` with the relevant info (if needed)

### Assignation
- This tasks is open for assignation, just claim it (as reply to this) and submit your PR ;-)

### Important
- Check the

[2019-08-05 16:38] UlisesGascon opened #153 "Upgrade dependencies"
### Context
- This is part of `release-1.5` #148
- Context from #82
- Critical task

### Tasks
- [ ] Upgrade dependencies to secure latest versions in `package.json`
- [ ] Validate the instalation with the local test
- [ ] Add and submit the changes in `package-lock.json`
- [ ] Add the primary depdency list to the `readme.md`
- [ ] Check that the npm tasks are working as expected
- [ ] Update the

[2019-08-05 17:52] ckarande commented on #148
Of course. Can you please check if you have the necessary rights now.

[2019-08-05 18:10] UlisesGascon commented on #148
Oh yeah! Now it is perfect ^^

[2019-08-05 19:58] ckarande commented on #151
@UlisesGascon Thanks for adding this task. Yes, the Contributing Guidelines and the Code of Conduct are important as the number of contributors grow.

For CoC, I like your suggestion to use [Contributor Covenant](https://www.contributor-covenant.org/). Lets go with it.

For Contribution guidelines, right now we have [a very short section](https://github.com/OWASP/NodeGoat/blob/master/README.md#way

[2019-08-06 00:50] binarymist commented on #150
Pretty sure last time I suggested we upgrade @ckarande wasn't that keen. Hopefully this has changaed?

[2019-08-06 06:14] UlisesGascon opened #154 "Let's add git hooks for linting and testing with Husky"
### Context
- This is part of `release-1.5` #148
- Medium priority task

### Tasks
- [ ] Install `prettier` + `eslint` -> [prettier-eslint](https://github.com/prettier/prettier-eslint)
- [ ] Config the task in `package.json`
- [ ] Upload the changes in files `package*.json`
- [ ] Update the `README.md` with the relevant information

### Assignation
- This tasks is assigned to @UlisesGascon

[2019-08-06 06:17] UlisesGascon opened #155 "Let's add git hooks for linting and testing"
### Context
- This is part of `release-1.5` #148
- High priority task

### Tasks
- [ ] Install [husky](https://www.npmjs.com/package/husky)
- [ ] Config the task in `package.json`
    - [ ] pre-commit for linting task, (depends on #154)
    - [ ] pre-push for testing task
- [ ] Upload the changes in files `package*.json`
- [ ] Update the `README.md` with the relevant information

### Assignation
-

[2019-08-06 06:21] UlisesGascon commented on #151
Awesome! Thanks @ckarande. I will rise a PR asap with the changes

[2019-08-06 06:30] UlisesGascon opened #156 "Add nodemon"
### Context
- This is part of `release-1.5` #148
- Possible dependency with task (Migration to Nodec v12) #150
- Strong dependency with (Grunt Migration) #149
- LOW task

### Tasks
- [ ] Remove `Forever` dependency as is not in use.
- [ ] Add `Nodemon` as dependency
- [ ] Add task `dev` to the package.json that allow us to reload the server on changes, [see]()
 is not in use, let's move to Nodemon

[2019-08-06 06:35] UlisesGascon opened #157 "Migration to EJS"
### Context
- This is part of `release-1.5` #148
- MEDIUM priority task

### Tasks
Migration from Swig Deprecated to ejs
- [ ] Remove dependency `Swig` in `package.json`
- [ ] Add dependency `ejs` in `package.json`
- [ ] Configure express to use ejs as [template engine](https://scotch.io/tutorials/use-ejs-to-template-your-node-application)
- [ ] migrate all the files from `/app/views/**.html` to E

[2019-08-06 06:40] UlisesGascon opened #158 "Migration to bcrypt"
### Context
- This is part of `release-1.5` #148
- MEDIUM priority task

### Tasks
- [ ] Remove dependency `bcrypt-nodejs` in `package.json`
- [ ] Add dependency `bcrypt` in `package.json`
- [ ] Migrate file [app/data/user-dao.js](https://github.com/OWASP/NodeGoat/blob/master/app/data/user-dao.js) to bcrypt
- [ ] Validate the instalation with the local test
- [ ] Add and submit the changes in `pac

[2019-08-06 06:46] UlisesGascon opened #159 "Improve Cypress script"
### Context
- This is part of `release-1.5` #148
- Critical task

### Tasks
- [ ] Improve the speed of the e2e tests (almost 8 minutes now). Maybe videos are generated (ci/local envs)
- [ ] Add test that are missing (fast check)
- [ ] Remove unnecessary/repetitive tests
- [ ] Improve the [command `dbReset`](https://github.com/OWASP/NodeGoat/blob/master/test/e2e/support/commands.js#L28). Missing va

[2019-08-06 08:59] lucas1004jx commented on #152
I want to help with this issue :)

[2019-08-06 09:03] UlisesGascon commented on #152
Thanks @lucas1004jx for join us! 🤗

This issue is assigned to you, please remember to refer to this issue when do you submit a PR, so we can connect the dots easily.

[2019-08-06 16:03] UlisesGascon commented on #156
Do you agree @servatj ?

[2019-08-06 17:13] ckarande commented on #150
@binarymist Yes, I know this item has been in the list for a while. I am good to take it now. Having the integration test coverage now allows us to do the necessary validations in an efficient way. 👍

[2019-08-06 21:39] servatj commented on #156
Yes, I Agree maybe it's worth starting with #150 and upgrade to node js 12. I will assign it to me.

[2019-08-06 21:44] servatj commented on #156
I just noticed that @ckarande  picked #150  [https://github.com/OWASP/NodeGoat/issues/156](here) I will continue working with this #156 first an then continue with #149.

[2019-08-11 08:53] UlisesGascon commented on #156
Fix in #161

[2019-08-11 08:53] #156 closed

[2019-08-11 08:55] UlisesGascon commented on #150
This was closed by #160

[2019-08-11 08:55] #150 closed

[2019-08-15 23:17] synedra opened #165 "nodegoat.herokuapp.com not working"
I'm getting application errors with any of the documentation links in the README, it looks like your heroku app isn't working.

[2019-08-16 03:25] flippedcoder commented on #157
Hi there. I'd like to work on this issue. When do you need this finished?

[2019-08-16 09:40] UlisesGascon commented on #157
Hi @flippedcoder!

**Super welcome aboard**. There is no deadline or pressure for this issue, so you can work on it quietly 😄

I just assigned this issue to you. Please send the PR against branch `version-1.5` 😉.

If you have more questions.. please, ping me ^^

[2019-08-16 09:49] UlisesGascon commented on #165
Hi @synedra! Thanks for alert us about it, seems like the service is down.

@ckarande can you help us? Maybe we can have a look together, I guess there is a problem with the [Dynos policies once restart](https://devcenter.heroku.com/articles/dynos#automatic-dyno-restarts).

In [OSW](https://github.com/OSWeekends) we had a system in place to restart and update the machine by default with Kubernetes

[2019-08-16 18:36] ckarande commented on #165
@synedra thanks for reporting it.
@UlisesGascon thanks for the information. I had to manually deploy the app and seems to have fixed it but I will monitor the automated deploy process on changes to master and dig more if the issue continues.

[2019-08-16 18:36] #165 closed

[2019-08-20 21:57] synedra opened #166 "Need help creating SQL injection queries"

[2019-08-20 21:59] synedra commented on #166
I'm trying to use NodeGoat to teach customers about security issues, but all of the examples assume I'm going to be using Javascript.  How can I make the same call with a shell script or wget/http, so they can understand what's needed?  I don't have the ability to use a Javascript enabled page although I suppose I could write a node server to attack the system.

[2019-08-20 22:49] servatj commented on #149
Replace current grunt tasks by npm scripts:

- [ ]  Grunt test --> Currently the service has no tests, so we can remove this
- [ ]  Grunt ("precommit", ["jsbeautifier", "jshint"]);
- [ ]  Grunt test security
- [ ]  Grunt precommit , cocncurrent
- [ ]  Grunt db-reset
- [ ]  Use prettier instead of beautifier
- [ ]  Use Eslint instead of jshint

@UlisesGascon

[2019-08-21 11:14] ckarande commented on #166
Thanks for considering NodeGoat for your training @synedra. Current Nodegoat implementation uses server side templates to generate UI and doesn't expose REST APIs.  So it doesn't provide an ability to access endpoints with shell script/wget as you are looking for.

We have an issue #38 to start supporting different architectures, but it is planned for a later release (1.6.0).

[2019-08-21 11:14] #166 closed

[2019-08-21 17:32] UlisesGascon commented on #149
I like your approach. In the near future we will add some Unit testing using Jest (I believe).

[2019-09-03 14:46] jamesleynorvil commented on #153
@UlisesGascon I have a PR for this issue

[2019-09-22 23:06] servatj commented on #149
I paste here OLD jshint rules to be reviewed in the future, after we completly remove jshint package and the new eslint package is setup.

[code]

[2019-09-23 16:50] PeterWunderlich commented on #158
Hi all!
As i want to get more into FOSS I stumbled upon this project again and saw this issue. I would claim it for now and would be glad provide the PR by the end of this week, if it's okay? :)

If so, i'll do the migration from [bcrypt-nodejs](https://www.npmjs.com/package/bcrypt-nodejs) to [bcrypt](https://www.npmjs.com/package/bcrypt).

[2019-09-26 16:15] bizob2828 opened #173 "Unable to pass env vars to set mongodb uri"
We use NodeGoat to test some of our code and we programmatically pass in mongodb uri via `MONGODB_URI` env var.  This worked just fine until #147 was merged.  The changed in https://github.com/OWASP/NodeGoat/pull/147/files#diff-5ad5fa7320dd1d0531493bee405d385b made the 2 env vars useless.

[2019-09-27 01:44] flippedcoder commented on #157
@UlisesGascon Just a quick update, I've gotten the migration over to ejs finished! I'm going through and fixing all of the errors from npm run precommit. I should have a PR up for this some time next week.

[2019-09-28 22:42] ckarande commented on #173
@bizob2828 Thanks for updating about the issue.

@UlisesGascon  this seems to be order that would allow respecting values in env variables first for non-test environments. What do you think?
[code]

[2019-09-28 22:54] ckarande commented on #158
@PeterWunderlich thank you for your interest in contributing to the project. Yes, you are very welcome to make the PR. I have assigned it to you 👍

[2019-09-30 13:45] UlisesGascon commented on #158
Thank you, @PeterWunderlich! :-)

[2019-10-01 07:52] PeterWunderlich commented on #158
Hey @ckarande & @UlisesGascon,
the migration is finished from my part but i have 2 final questions regarding the tasks:

1. Add the primary dependency list to the readme.md: Shall i add a list of the dependencies (devDependencies exlucded) with a short explanation to the README.md? I would add the list before the "How to Setup Your Copy of NodeGoat" chapter.
2. I've run into a few problems on my W

[2019-10-29 14:49] UlisesGascon commented on #173
Closed in #174

[2019-10-29 14:49] #173 closed

[2019-11-06 17:21] UlisesGascon opened #178 "Fix Travis CI Errors"
Seems like travis is not able to run Cypress.
- See: #177
- See: #175

I will rise a PR asap to fix that and unblock pending PRs

[2019-11-06 18:06] UlisesGascon commented on #178
Oh yeah! Now it is working 🎉

[2019-11-06 18:06] #178 closed

[2019-12-20 14:17] carlosazaustre commented on #154
I'd like to help with this issue during xmas :)

[2019-12-20 14:20] UlisesGascon commented on #154
Awesome @carlosazaustre!! I will asign you the tasks. Please use `release-1.5` branch (It is the most stable source and the final destination)

[2020-01-26 14:24] ckarande opened #180 "Implement REST API endpoints"
Implement REST endpoints for accessing allocations, user profile, contributions data

[2020-01-26 14:26] ckarande opened #181 "Implement Client Side Rendered UI with React"
Covert current template based UI to use React.

[2020-01-26 14:27] ckarande opened #182 "Implement Auth for REST endpoints"
Use JWT to implement access control

[2020-01-26 14:29] ckarande opened #183 "Demonstrate API security issues"
Implement relevant API Top 10 vulnerabilities
https://owasp.org/www-project-api-security/

[2020-01-26 14:31] ckarande opened #184 "Tutorial and hands on labs guide for securing REST endpoints"

[2020-01-26 17:24] UlisesGascon commented on #148
Hi all!

I just added new issues for release 1.6 and rename this issue for 2020.

I will try to expend some time the following two weeks to remap the current status for 1.5 and push some code to speed up the release.

[2020-01-27 06:16] UlisesGascon commented on #158
Hi @PeterWunderlich!

1. Don't worry about the README.md dependencies. I will include an script that will autodocument that part for us.

2. Feel free to add `cross-env` to add support for windows users.

3. PR to `OWASP:release-1.5` is perfect 👍

Thanks a lot for your support!

[2020-01-27 22:44] ckarande commented on #148
Sounds great. Thanks @UlisesGascon

[2020-03-17 12:49] UlisesGascon opened #187 "Lerna Implementation"
### 🔈Good news!

As agreed with @ckarande. We are going to implement Lerna to follow a mono-repo architecture for this project.

We are going to handle 2 different applications:
- Current one (server-render)
- React with express API (react-api)

Important:
- We are going to merge and change a lot of things in the following days. Here I will collect all the incidents/problems/logs... so we can coor

[2020-03-21 15:38] KoolTheba opened #192 "React and Express API app"
🔈**Good news!**

As agreed with @ckarande, we starting today a new app version of NodeGoat developed in React, with a Back-end in Express using API rest. The same features that the original app has, will remain in this new version (tutorial, benefits, dashboard...).

Also, as agreed with @ckarande and @UlisesGascon I'm leading the new app development in React + API.

The origin of the branch used

[2020-04-30 21:34] bilkoh commented on #90
If I'm not mistaken, enabling $gt and $ne injection via post requires setting `app.use(bodyParser.urlencoded({extended: false}))` to `true` in server.js

Otherwise `const { userName, password } = req.body` goes undefined and req.body looks like this:
`{'userName[$ne]': '', 'password[$ne]': ''}`
instead of
`{ userName: { '$ne': '' }, password: { '$ne': '' }`

Second issue is that because the app is

[2020-05-01 09:09] lirantal commented on #90
That's correct @bilkoh 👍
I still show-case this vulnerability for noSQL injection in my own fork using this branch so it definitely works and viable but we were wondering whether the example as-is makes an interesting flow/story.

We're happy if you want to continue work on this for sure.

[2020-06-06 13:24] rcowsill opened #199 "Restore A9 Insecure Components vulnerability"
The [A9: Insecure Components](http://nodegoat.herokuapp.com/tutorial/a9) vulnerability tutorial refers to the use of an insecure version of the Marked library, making the memos page vulnerable to XSS.

It appears that the project was upgraded to use marked 0.3.9, which fixed this vulnerability. This means none of the example exploit strings in the tutorial result in a successful XSS attack.

I thi

[2020-06-09 19:48] ckarande commented on #199
@rcowsill Thanks for reporting the issue.  👍

You are right about it. Will will add it in our backlog. In case you have bandwidth, we will be happy to merge a PR with the required fix.

[2020-06-11 06:20] bytesagar opened #201 "There is no 404 page."
## Added 404 page, if the page is not found
* PR #200

[2020-06-12 10:56] rcowsill commented on #199
Would you want that PR from a feature branch in a fork of master?

[2020-06-13 09:53] UlisesGascon commented on #201
Hi @sagar608!

Thanks for open this issue and fix the 404 missing page in a PR.

We are working now in the Lerna implementation #187. Once the PR #189 is merged the project setup will change in a new folder structure.

Can you create a PR for the 404 based on branch `feature/187`? The CI should work fine and prevent linting issues.

[2020-06-13 09:56] UlisesGascon commented on #199
Yes @rcowsill  from and against `feature/187` as we are implementing Lerna #187 (PR pending: #189)

[2020-06-13 14:53] sagar608 commented on #201
Thank you @UlisesGascon
If you could help me on how can I create a new PR on branch  > feature/187 ?

[2020-07-23 22:22] flippedcoder commented on #157
Looks like this got closed with #179

[2020-08-07 18:13] rcowsill opened #207 "livereload.js making tests run slower"
The view templates all reference the livereload.js script, but that file is only available when the livereload service is running (`grunt watch`). If the livereload service isn't up, then the livereload.js request has to time out before page load is completed. I see the browser's loading spinner continue for a few seconds after each page is displayed.

When running tests it seems that cypress wait

[2020-08-07 22:25] rcowsill commented on #207
I tried the WIP changes in my fork using Travis:
Build|Node 8|Node 10|Node 12
-----|-------|---------|-------
[Before](https://travis-ci.com/github/rcowsill/NodeGoat/builds/178949601)|7m00s|7m21s|7m34s
[After](https://travis-ci.com/github/rcowsill/NodeGoat/builds/178953625)|4m24s|4m39s|4m39s

The before timings look comparable to the last [master branch build](https://travis-ci.com/github/OWASP/No

[2020-08-08 18:28] rcowsill commented on #199
As discussed in #206, I'm going to add a test to confirm this vulnerability is present and functioning as expected. PR for that to follow...

[2020-08-10 11:11] rcowsill commented on #199
PR #208 containing the A9 test has been merged into `feature/187`. Should this issue be closed now, or should it be kept around until #187 is merged into `master`?

[2020-08-10 11:25] lirantal commented on #199
ahh, I didn't even notice it's not PRed to the master branch
@UlisesGascon can you advise?

[2020-08-10 21:24] rcowsill commented on #159
I'd like to help with this. I've been looking at some performance improvements to the tests and also making them more reliable.

[2020-08-11 14:17] rcowsill commented on #159
To start, I'd like to make pull requests for two fixes that should resolve the signup test flakiness:
- [ ] Make db-reset.js wait for `dropCollections` to complete before inserting new data
- [ ] Set necessary env vars in `docker-compose.yml` to make the web service use the mongo service (instead of mongolab)

The first one affects branches `master` and `feature/187`. The second currently only aff

[2020-08-30 14:10] NF997 opened #211 "Webinterface: Wording"
The webinterface says "Upload".
However, the code to be analyzed doesn't really get uploaded anywhere (to an external server), right?

It might be good to rename this (maybe to "load"?) since it could potentially scare people off. E.g. when performing a code review of code another company owns I certainly don't want to "upload" it to external services...

[2020-08-30 14:13] NF997 commented on #211
Wrong repo, sorry!

[2020-08-30 14:13] #211 closed

[2020-09-09 18:55] Whamo12 opened #212 "Heroku - mLab MongoDB Add-on Discontinued"
The mLab MongoDB Add-on will be shutting down on November 10th and may inadvertently affect the `Deploy to Heroku` functionality.  The following documentation contains specific information.

https://docs.mlab.com/shutdown-of-heroku-add-on/

[2020-09-10 11:31] ckarande commented on #212
@Whamo12 Thanks for the information. We should migrate to MongoDB Atlas as suggested here:
https://docs.mlab.com/how-to-migrate-sandbox-heroku-addons-to-atlas/

[2020-09-10 13:26] rcowsill commented on #212
Something to bear in mind is that the Atlas M0 tier doesn't support server-side javascript (From: [Atlas M0 (Free Tier)... Limitations](https://docs.atlas.mongodb.com/reference/free-shared-limitations/#operational-limitations)).

There's currently a `$where` query in allocations-dao.js, which is used to demonstrate NoSQL injection vulnerabilities:

https://github.com/OWASP/NodeGoat/blob/5b6a3078b3

[2020-09-20 20:30] rcowsill opened #213 "docker_compose.yml doesn't set MONGODB_URI"
When deployed through docker-compose the default configuration makes the web service connect to `mongodb://ds159217.mlab.com:59217/nodegoat`. The deploy instructions for docker include a step to point the web service at the mongo service, but it's easy to forget that.

Also, as mentioned [here](https://github.com/OWASP/NodeGoat/issues/159#issuecomment-671974165), the CI configuration has been chan

[2020-09-20 20:39] rcowsill commented on #212
I've made a task list for the work to resolve this issue. Feedback is welcome on whether this is the right approach, or if I missed anything important.

The work to fix the "Deploy to Heroku" button can be done by any contributor:
- [ ] Remove mongolab:sandbox addon from app.json
- [ ] Add a MONGODB_URI env variable to app.json (required, default `""`)
- [ ] Remove reference to the current mLab da

[2020-09-27 22:50] rcowsill commented on #159
Pull request for the dropCollections fix is open: #214

[2020-11-08 21:54] rcowsill commented on #212
Reminder: mongolab heroku addons are due to be deleted on Tuesday, November 10th. When that happens, any mLab databases still attached to a mongolab heroku addon will be deleted.

Hopefully the database for http://nodegoat.herokuapp.com/ has already been detached from its addon, otherwise the app will go down when the database gets deleted on Tuesday.

[2020-11-10 03:26] ckarande commented on #212
@rcowsill Thank you for staying on top of this and the PR. @Whamo12, appreciate your reporting this issue.

Merged the PR. I wanted to provide default Altas DB URL for a quick start for those who don't have it or willing to create an account on Atlas. Hence restored the all.js as before except with Atlas DB URL. We can revise this logic, if any suggestions.

Closing this issue.

[2020-11-10 03:26] #212 closed

[2020-11-10 03:37] #207 closed

[2020-11-10 10:10] rcowsill commented on #159
Both these fixes were merged into `master` in c44bbd64cac539bb5d24f3c4a65025f7fc1690d2.

The fix to set MONGODB_URI in docker builds needs to be merged into `feature/187` before January 12, 2021. On that date the mLab database currently used by CI in this branch will be shut down, causing all subsequent build jobs to fail.

[2020-11-10 10:11] rcowsill commented on #213
Resolved by #215

[2020-11-10 10:12] #213 closed

[2020-11-10 10:18] rcowsill commented on #207
For future reference, #216 fixes this for production and test environment. ec40213d1e7cfa81f25fa48b84d2ddd230c77874 is also needed to cover development environment (eg contributors running tests locally during dev)

I mention it because Cypress changed the name of the setting to blockHosts in 5.0, so we'll need to update the config when upgrading. See https://docs.cypress.io/guides/references/migr

[2020-11-16 22:06] rcowsill opened #219 "Travis config warnings"
This is a very minor issue, but the travis dashboard lists some warnings for the config file:
[code]
I have [a commit](https://github.com/OWASP/NodeGoat/compare/master...rcowsill:fix/travis-warnings#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485) ready for PR that removes the unknown/deprecated lines and adds the missing ones.

[2021-01-14 22:22] ckarande commented on #219
@rcowsill Thanks..Also notices your message on Gitter regarding Github Actions. In case this is still relevant, please make a PR.

[2021-01-18 13:02] rcowsill commented on #219
@ckarande I submitted a PR (#223) as the change was ready to go. That said, it's not essential if the project is switched over to GitHub Actions CI. Feel free to close this issue and PR #223 in that case.

[2021-01-24 16:48] rcowsill opened #225 "NodeGoat Research page SSRF also enables DoS"
The research page intentionally exposes a SSRF vulnerability which allows an attacker to submit unexpected `url` and `query` params. The tutorial demonstrates how this can be used to make the server connect to an attacker-controlled site.

As well as this expected vulnerability there's a bug in [app/routes/research.js](https://github.com/OWASP/NodeGoat/blob/f2514a5f71c69d5639d56e88980b86d31a20b436

[2021-01-24 21:08] #219 closed

[2021-01-24 21:16] ckarande commented on #225
@rcowsill Thanks for reporting this issue and identifying the root cause. Yes, there should be a check for  undefined value of `newResponse`. I'd be happy to merge a PR in case you have bandwidth to fix it.

[2021-02-07 12:58] #225 closed

[2021-02-17 04:48] binarymist opened #228 "purpleteam now at alpha"
@ckarande Any thoughts on trashing the security regression tests now that purpleteam is in alpha and also an OWASP project?

* https://github.com/OWASP/NodeGoat/wiki/NodeGoat-Security-Regression-tests-with-ZAP-API
* https://github.com/OWASP/NodeGoat/blob/master/test/security/profile-test.js

https://owasp.org/www-project-purpleteam/

Also any thoughts on how you'd like to have NodeGoat under purpl

[2021-02-24 16:50] rcowsill commented on #159
Just made PR #230 which adds video recording/upload to the github actions CI workflow.

Video recording is off by default for local test runs, but can be activated like this if needed:
`npm run test:ci -- --config video=true`
or:
`npx cypress run --config video=true`

[2021-03-14 13:57] rcowsill opened #232 "Unexpected path traversal vulnerability"
Looking at [NodeGoat's results on LGTM.com](https://lgtm.com/projects/g/OWASP/NodeGoat?mode=list), alongside the expected vulnerabilities there are some more alerts. Most are minor issues, but one is for this unexpected vulnerability:

https://lgtm.com/projects/g/OWASP/NodeGoat?mode=list&tag=external%2Fcwe%2Fcwe-022

The `/tutorial/:page` route passes the user-controlled `page` parameter directly

[2021-03-15 20:07] GeniaT opened #234 "A9 - Wrong url, to be removed"
Hello,

The 6th link [bithound](http://www.bithound.io/) should be removed from the [page ](https://nodegoat.herokuapp.com/tutorial/a9)as it's not a Nodejs service anymore but a casino website.

Cheers,
Genia.

[2021-03-17 15:09] rcowsill commented on #234
Good catch! Based on archive.org it looks like bithound shut down in 2018.

Looking through the rest of that list, nodesecurity.io (link 1) is a holding site. It look like it was run by a company that then got acquired by NPM.  Their advisories were integrated into npmjs.com, so I think https://www.npmjs.com/advisories is an appropriate replacement link.

The same company also seemed to be involve

[2021-06-02 21:45] jantaylor commented on #158
It looks like this task is already assigned and has not been implemented. Would you like me to take it on instead?

[2021-06-04 06:21] PeterWunderlich commented on #158
@jantaylor sure, feel free to take over.

[2021-06-07 04:04] jantaylor commented on #158
@PeterWunderlich I've submitted the PR if you want to look it over and give your review.
@UlisesGascon, the PR is ready for your review as well.

[2021-06-08 00:30] binarymist commented on #148
May be worth updating the checklist? [purpleteam](https://purpleteam-labs.com/) has been testing NodeGoat for several years now

[2021-07-29 13:40] nharraud opened #239 "Broken XSS example"
Hi,

I noticed that commit https://github.com/OWASP/NodeGoat/commit/7c293e721bd1e95be6f82475d295b9b10e3b584e has broken the XSS example.

1/ The `website` property is not saved in the database. Thus it will never be displayed.
https://github.com/OWASP/NodeGoat/blob/e2dffdb8c7e988c10bacdccba14d6f0d352c5090/app/routes/profile.js#L82-L91
2/ The `website` property is not returned after an update
https

[2021-07-31 16:40] nharraud opened #241 "Missing anchors in validation regular expression"
Hi,
The ReDos example uses two regular expressions which are missing start and end anchors:
https://github.com/OWASP/NodeGoat/blob/e2dffdb8c7e988c10bacdccba14d6f0d352c5090/app/routes/profile.js#L58-L59

These regular expressions accept values such as evil123#evil.

How about:
1/ fixing these two regular expressions like this:
[code]
2/ adding another regular expression somewhere which creates a vu

[2022-03-13 15:44] Ranjith31 opened #245 "Node Goat Herokuapp Application Error"
Hi After performing DOS attack in profile page application went down and not working

[2022-09-29 03:53] ctownshend opened #264 "Not working with MongoDB 5"
Error [MongoError]: Unsupported OP_QUERY command: insert. The client driver may require an upgrade. For more details see https://dochub.mongodb.org/core/legacy-opcode-removal

Steps to repro
docker-compose build
docker-compose up

Latest mongodb is 5 and I think it is incompatible with the nodegoat project as it stands.

Overall wondering where this project is at. Seems like it hasn't been touched

[2022-09-30 17:59] mcloots commented on #264
Go to docker-compose.yml and change 'mongo:latest' to 'mongo:4.2'.
Don't forget to execute 'docker compose down' before rebuilding and starting again.

Cheers!

[2022-10-18 17:21] natgriffiths commented on #264
I changed to Mongo:4.2 and got the following error:
nodegoat_mongo_1 exited with code 14
web_1    | nc: bad address 'mongo'

Cheers

[2022-11-10 20:56] StengoS commented on #264
I ran into the same issue after changing `mongo:latest` to `mongo:4.2`, but then I looked again and made sure to run `docker compose down` before building and starting again.